<h1>Post</h1>

<form method="POST" action="/db">
  <p>Title: <input type="text" name="title"></p>
  <p>Content: <input type="text" name="content"></p>
  <p>Photo: <input type="text" name="photo"></p>
  <p>Rating: <input type="number" name="rating"></p>
  <input type="submit">
</form>
